{extend name="public/base" /}
{block name="title"}{$selfclass.name}-{/block}
<!-- 头部区域 -->
{block name="header"}
   {include file="Public:header" /}
{/block}
<!-- 头部区域 -->
{block name="wrapper-left"}
    {include file="Public:wrapperleft" /}
{/block}
<!-- 头部区域 -->
{block name="wrapper-right"}
    {include file="Public:breadcrumb" /}
  <div class="container-fluid">
    <ul class="list-unstyled">
      {volist name="list" id="data"}
      <li class="media position-relative">
        {if condition="!empty($data.img)"}<img src="..." class="mr-3" alt="...">{/if}
        <div class="media-body">
        <h5 class="mt-0">{$data.name}</h5>
        <p>{$data.keywords}</p>
        <p><textarea class="form-control" disabled>{$data.description}</textarea></p>
        <a href="{$url}{$data.id}" class="btn btn-primary stretched-link">查看</a>
        </div>
      </li>
      {/volist}
    </ul>
    {$page}
  </div> 
{/block}
<!-- 头部区域 -->
{block name="footer"}
    {include file="Public:footer" /}
{/block}
