<script>
$nr.admin={
  /*<!-- 头部区域 -->*/
  header:{
    logo:function(nrdd){
      return '<!-- Logo --><a href="javascript:;" class="logo"><!-- 迷你模式下Logo的大小为50X50 --><span class="logo-mini">我的网站</span>'
        +'<!-- 普通模式下Logo --><span class="logo-lg">我的网站</span>';               
        +'</a>';      
    },
    nav:function(nrdd){
      return '<!-- 顶部通栏样式 --><nav class="navbar navbar-static-top">'
        +'<!--第一级菜单-->'               
        +'<div id="firstnav">'               
        +'<!-- 边栏切换按钮-->'
        +'<a></a>'              
        +'<!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->'               
        +'<ul class="nav nav-tabs nav-addtabs disable-top-badge hidden-xs" role="tablist" style="width: 1334px;">'
        +'<li class="dropdown pull-right hide tabdrop"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="glyphicon glyphicon-align-justify"></i> <b class="caret"></b></a><ul class="dropdown-menu"></ul></li>'
        +'<li role="presentation" id="tab_1" class=""><a href="#con_1" node-id="1" aria-controls="1" role="tab" data-toggle="tab"><i class="fa fa-dashboard fa-fw fa-fw"></i> <span>控制台</span> </a></li> '
        +'<li role="presentation" id="tab_3" class=""><a href="#con_3" node-id="3" aria-controls="3" role="tab" data-toggle="tab"><i class="fa fa-leaf fa-fw"></i> <span>分类管理</span> <span class="pull-right-container"> </span></a><i class="close-tab fa fa-remove"></i></li>'
        +'<li role="presentation" id="tab_12" class="active"><a href="#con_12" node-id="12" aria-controls="12" role="tab" data-toggle="tab"><i class="fa fa-bars fa-fw"></i> <span>菜单规则</span> <span class="pull-right-container"> <small class="label pull-right bg-purple">菜单</small></span></a> <i class="close-tab fa fa-remove"></i></li>'
        +'<li role="presentation" id="tab_12" class="active"><a href="#con_12" node-id="12" aria-controls="12" role="tab" data-toggle="tab" '+$nr.route.url('click|admin/logout')+'><i class="fa fa-bars fa-fw"></i> <span>菜单规则</span> <span class="pull-right-container"> <small class="label pull-right bg-purple">菜单</small></span></a> <i class="close-tab fa fa-remove">X</i></li>'
      

        +'</ul>'
        +'<div class="navbar-custom-menu"><ul class="nav navbar-nav">'               
        +'<li><a href="/" target="_blank"><i class="fa fa-home" style="font-size:14px;"></i></a></li>'             
        +'<!-- 清除缓存 -->'             
        +'<li><a href="javascript:;" data-toggle="dropdown" title="清空缓存"><i class="fa fa-trash"></i></a>'               
        +'<ul class="dropdown-menu wipecache">'              
        +'<li><a href="javascript:;" data-type="all"><i class="fa fa-trash"></i> 一键清除缓存</a></li>'              
        +'<li class="divider"></li>'             
        +'<li><a href="javascript:;" data-type="content"><i class="fa fa-file-text"></i> 清空内容缓存</a></li>'               
        +'<li><a href="javascript:;" data-type="template"><i class="fa fa-file-image-o"></i> 清除模板缓存</a></li>'               
        +'<li><a href="javascript:;" data-type="addons"><i class="fa fa-rocket"></i> 清除插件缓存</a></li>'               
        +'</ul>'              
        +'</li>'               
        +'<!-- 全屏按钮 -->'              
        +'<li class="hidden-xs"> <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a></li>'       
        +'<!-- 账号信息下拉框 -->'     
        +'</ul></div></div>'                            
        +'</nav>';      
    },
    show:function(nrdd){
      return this.logo(nrdd)+this.nav(nrdd);
    },
  },


  /*<!-- 左侧菜单栏 -->*/
  sidebar:{
    /*<!-- li name:名称 icon:标记 url:链接地址 data:数据 -->*/
    li:function(nrdd){
      nrhtm='';
      nrhtm+='<li class="list-group-item">';
      nrhtm+='<div';
      nrhtm+=nrdd.data?' onclick="$nr.public.lanmu(this);"':'';
      nrhtm+=$nr.u.public.url(nrdd.url);
      nrhtm+=$nr.u.public.click(nrdd.click);
      nrhtm+='><i class="fa fa-'+nrdd.icon+'"></i> '+nrdd.name+'</div>';
      nrhtm+=nrdd.data?this.ul(nrdd.data):''; 
      nrhtm+='</li>'; 
      return nrhtm;
    },
    ul:function(nrdd){
      nrhtm='';
      nrhtm+='<ul class="list-group">';
      for(nrx in nrdd){
      nrhtm+=this.li(nrdd[nrx]); 
      }
      nrhtm+='</ul>';
      return nrhtm;
    },
    /*<!-- li name:名称 icon:标记 url:链接地址 data:数据 -->*/
    show:function(nrdd){
      $('.nr-sidebar-menu').html(this.ul(nrdd));
      $('.nr-sidebar-menu ul ul').hide();
      $('.nr-sidebar-menu ul ul').eq(5).show();
    },
  },
  /*<!-- 主体内容区域 -->*/
  wrapper:{},
  /*<!-- 展示脚本 -->*/
  show:function(nruser){
    /*<!-- 左侧菜单栏 -->*/
    var nrdd=[];
    nrdd.header={
        nav_left:{class:"",data:[
          {name:'控制台',icon:'dashboard',active:'active'},
          {name:'分类管理',icon:'credit-card',url:'category/list'},
        ]},
        nav_right:{class:"navbar-right",data:[
          {name:nruser.username,data:[//$nr.login.login_ye(\'\')
            {name:'个人资料'},
            {type:'divider'},
            {name:'退出',click:'admin/logout'},
          ]},
        ]},
    };
    nrdd.menu=nruser.rule_menu;
    nrhtm='';
    /*<!-- 左侧菜单栏 -->*/
    nrhtm+='<!-- 头部区域 --><header id="header" class="main-header">'+this.header.show(nrdd.header)+'</header>';

    /*<!-- 主体区域 -->*/
    nrhtm+='<div class="main-wrapper">';
    nrhtm+='<!-- 左侧菜单栏 --><div class="nr-sidebar-menu main-sidebar"></div>';
    nrhtm+='<div class="content-wrapper tab-content tab-addtabs"><!-- 主体内容区域 --><div class="nr-content"></div></div>';
    nrhtm+='</div>';
    $('body').html(nrhtm);
    this.sidebar.show(nrdd.menu)
    $nr.post_url=nruser.post_url;
    $nr.request.hurl();
  },
  request:function(){
    $nr.post_url="index/";
    $nr.request.url('adminhome'); 
  },
};

