<ul class="navbar-nav mr-auto nav nav-pills">{body}</ul>
|
<li class="nav-item">
    <a class="nav-link" href="#">{name}</a>
 </li>
{block_eq}
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{name}</a>
	<div class="dropdown-menu">{data}</div>
</li>
|
<a class="dropdown-item" href="#">{name}</a>
{block_eq}
<a class="dropdown-item" href="#">{name}</a>{data}
|
<a class="dropdown-item" href="#">{name}</a>
{block_eq}
<a class="dropdown-item" href="#">{name}</a>{data}
|
<a class="dropdown-item" href="#">{name}</a>
{block_eq}
<a class="dropdown-item" href="#">{name}</a>{data}