<p></p>
div#jh
<div class="layui-layer layui-layer-iframe layui-layer-border layui-layer-fast" id="layui-layer4" type="iframe" times="4" showtime="0" contype="string" style="z-index: 19891029; width: 800px; height: 600px; top: 127.5px; left: 436.5px;"><div class="layui-layer-title" style="cursor: move;">编辑</div><div id="" class="layui-layer-content"><div  style="height: 507px;">dsad</div></div><div class="layui-layer-btn layui-layer-footer">
        <div class="row"><label class="control-label col-xs-12 col-sm-2"></label><div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">确定</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div></div>
        
    </div><span class="layui-layer-setwin"><a class="layui-layer-min" href="javascript:;"><cite></cite></a><a class="layui-layer-ico layui-layer-max" href="javascript:;"></a><a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a></span><span class="layui-layer-resize"></span></div>