.ywpl{position:absolute; left:10px;top:0;}
.ywpr{position:absolute; right:10px;top:0;}
.ywlayer{position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(255,255,255,.1);display:none;z-index:888;}
.ywbut{display:inline-block;cursor:pointer;text-align:center; font-size:14px; line-height:20px; color:#FFF; padding:8px;border:solid 1px #0C82F0; background:#0C82F0;-webkit-border-radius8px5px;-moz-border-radius:8px;border-radius:8px;}
.ywbut_no{ border:solid 1px #0C82F0; background:#FFF; color:#0C82F0;}
.ywbutbox{white-space:nowrap; position:relative;text-align:left;}
.ywbutbox .ywbut_no{width:42%;}
.ywbutbox .ywbut_ok{width:42%;position:absolute;right:0px;top:0px;}
.ywbutbox .ywbut_d{width:90%; margin:auto auto;}
.ywpg20{ padding:20px;}
.ywfdl{position:fixed;top:0;left:0;bottom:0;right:0;width:100%;overflow-y:auto;z-index:9999; display:none;}
.ywfdl::-webkit-scrollbar {width: 0px;height: 0px;}
.ywfdllayer{position:absolute;top:0;left:0;bottom:0;right:0;width:200%;background:rgba(0,0,0,.1);z-index:8;}
.ywfdl_lr{width:200%;position:absolute;bottom:0;top:0;left:0;}
.ywfdl_lrc{width:30%;position:absolute;bottom:0;top:0;left:0;background:#FFF;z-index:9;}


.ywfdb{position:fixed;top:0;left:0;bottom:0;right:0;width:100%;overflow-x:auto;z-index:9999; display:none;background:rgba(0,0,0,.1);}
.ywfdb::-webkit-scrollbar {width: 0px;height: 0px;}
.ywfdblayer{position:absolute;top:0;left:0;bottom:0;right:0; height:100%;z-index:8;}
.ywfdb .ywfdbbox{position:relative;background:#FFF;-webkit-transition:all .4s;transition:all .4s;-webkit-border-top-left-radius:15px;-moz-border-top-left-radius:15px;border-top-left-radius:15px;-webkit-border-top-right-radius:15px;-moz-border-top-right-radius:15px;border-top-right-radius:15px;-moz-box-shadow:0 -2px 10px #ccc; -webkit-box-shadow:0 -2px 10px #ccc; box-shadow:0 -2px 10px #ccc;z-index:9;}
.ywfdb .ywclose{ position:absolute; top:20px; right:20px; cursor:pointer; z-index:10;}

.ywtoico{display:block;content: '';width:10px;height:10px;border-top: 2px solid #666;border-left: 2px solid #666;margin:auto;transform:rotate(-45deg);}
.ywclose{ position:relative;width:20px;height:20px; line-height:0px;}
.ywclose:after,.ywclose:before{content: "";position:absolute;top:8px; left:0px;width:16px; height:2px; background:#666; display:block; transform:rotate(135deg);}
.ywclose:before{ transform:rotate(45deg);}
/*.ywico*/
.ywico{}
.ywicowq{-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;-moz-box-shadow:2px 2px 5px #ccc; -webkit-box-shadow:2px 2px 5px #ccc; box-shadow:2px 2px 5px #ccc;display:inline-block;}

.ywlicobox{ position:relative; padding-left:30px; line-height:36px; height:36px; font-size:14px;}
.ywlico{ position:absolute; top:10px; left:0px;background:url(img/yw/ywlico.jpg) no-repeat; width:16px; height:16px;display:block;}
.ywlico_2{ background-position:-16px 0px;}.ywlico_3{ background-position:-32px 0px;}.ywlico_4{ background-position:-48px 0px;}.ywlico_5{ background-position:-64px 0px;}

.ywtico{ position:relative;cursor:pointer;background:url(img/yw/yw_tico.jpg) no-repeat; width:18px; height:18px;display:block;}
.ywtico_a{position:relative;font-size:16px; color:#666;display:block; width:18px; height:30px;cursor:pointer; line-height:20px;}
.ywtico_a span{ display:inline-block; margin:0 3px 0 0;-webkit-border-radius:50px;-moz-border-radius:50px; background:#FFF; height:3px; width:3px; line-height:0px;}
.ywtico_t{ position:relative;cursor:pointer;height:20px; width:20px; display:inline-block;}
.ywtico_t .ywicoinfo{display:block;content: "";position:absolute; top:0; left:0; background:#FFF; width:18px; height:18px;-webkit-border-radius:45%;-moz-border-radius:45%;border-radius:45%;}
.ywtico_t .ywicoinfo:before{content: "";position:absolute;top:7px;left:5px; background:#0C82F0; width:8px; height:2px;}
.ywtico_t .ywicoinfo:after{content: "";position:absolute;top:11px;left:5px; background:#0C82F0; width:6px; height:2px;}
.ywtico_t:before{content: "";position:absolute;top:13px;left:6px; background:#FFF; width:8px; height:8px;-webkit-border-bottom-right-radius:100%;-moz-border-bottom-right-radius:100%;border-bottom-right-radius:100%;}
.ywtico_r{ position:relative;cursor:pointer;height:20px; width:24px; display:inline-block;}
.ywtico_r:before{content: "";position:absolute;top:0px;left:4px; background:#FFF; width:9px; height:9px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.ywtico_r:after{content: "";position:absolute;top:11px;left:0px; background:#FFF; width:17px; height:9px;-webkit-border-top-left-radius:40%;-moz-border-top-left-radius:40%;border-top-left-radius:40%;-webkit-border-top-right-radius:40%;-moz-border-top-right-radius:40%;border-top-right-radius:40%;}
.ywtico_r .ywicous{display:block;content: "";position:absolute; top:5px; left:17px;background:#FFF; width:7px; height:3px;}
.ywtico_r .ywicous:before{content: "";position:absolute;top:6px;right:0px; background:#FFF; width:4px; height:3px;}
.ywtico_r .ywicous:after{content: "";position:absolute;top:12px; right:0px; background:#FFF; width:4px; height:3px;}




.ywimgcbox{padding:20px 0px;border-right:solid 1px #F0F0F0;border-bottom:solid 1px #F0F0F0; text-align:center;}
.ywimgcbox .ywimgc{background:url(img/yw/ywimgc.jpg) no-repeat center;height:20px;}
.ywimgcbox .ywimgct{ line-height:30px; margin-top:10px; font-size:14px;}


.ywsda{ position:relative; line-height:30px; height:30px; font-size:14px;}
.ywsda .ywsdaico{position:absolute; right:0;top:10px;width:10px; height:10px; background:#0C82F0;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px; display:none;}
.ywsdasd{ color:#0C82F0; font-weight:700;}
.ywsdasd .ywsdaico{ display:block;}

.ywsdb{ position:relative; line-height:20px; height:20px; font-size:14px; padding:3px 6px 3px 6px; margin:0px 8px 8px 0px; border:solid 1px #F0F0F0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;cursor:pointer;}
.ywsdb .ywsdbico{position:absolute; right:6px;top:3px;}
.ywsdbsd{ color:#0C82F0; border:solid 1px #0C82F0; }


.ywhtop{background:#0C82F0; color:#FFF;position:fixed; z-index:7;left:0;top:0%;right:0; width:100%;}
.ywhead .ywhead_c{text-align:center; font-size:14px;}

.ywnav{position:relative;padding:0px 38px 0px 10px;}
.ywnav .ywpl .ywico_user{ width:26px; height:26px;border:solid 2px #FFF; background:url(img/avatar/avatar_13.jpg) no-repeat center center;background-size:26px 26px;}
.ywnav .ywnav_g{ text-align:center; font-size:18px; height:30px; line-height:30px;}
.ywnav .ywnav_y{ height:30px;}
.ywnav .ywnav_c{white-space:nowrap;overflow-y:auto;height:30px;line-height:30px;}
.ywnav .ywnav_c::-webkit-scrollbar {width: 0px;height: 0px;}
.ywnav .ywnav_c span{display:inline-block;cursor:pointer; margin:0px 10px; font-size:14px;}
.ywnav .ywnav_c span.sd{ color:#FF0;text-decoration:underline;}
.ywnav .ywnav_p{ position:absolute; left:0; right:0; top:0;background:#FFF; color:#666;z-index:999; display:none;}
.ywnav .ywnav_p .ywnav_pc{}

.ywnav_p_t{ position:relative; text-align:center; height:38px; line-height:38px; font-size:16px;}
.ywnav_p_t .ywpr{right:10px;top:11px; cursor:pointer;}

.ywnav_p_c{}
.ywnav_p_c ul{ border-left:solid 1px #F0F0F0;border-top:solid 1px #F0F0F0;}
.ywnav_p_c li{float:left;width:25%;text-align:center;cursor:pointer;}


.ywnav_p_a{}
.ywnav_p_a li{cursor:pointer;padding:0px 10px;}

.ywnav_p_b{ padding:0px 10px;}
.ywnav_p_b li{float:left; width:33.3%;}

.ywlbox{background:#FFF; color:#999;}
.ywlbox .ywlbox_uesr{ position:relative;height:36px;padding-left:60px;font:14px/50px "Arial";}
.ywlbox .ywlbox_uesr .ywico_user{display:block; position:absolute; top:0px; left:0px;width:44px; height:44px;  border:solid 3px #FFF; background:url(img/avatar/avatar_13.jpg) no-repeat center center;background-size:44px 44px;}
.ywlbox .ywlbox_nav{}
.ywlbox .ywlbox_nav ul{}
.ywlbox .ywlbox_nav li{cursor:pointer; padding:0px 20px;}

.ywshow{position:fixed;z-index:8;background:#F5F5F5;top:38px;left:0;bottom:0;right:0;width:100%;}
.ywshow .ywshowtop{position:fixed;background:#FFF;top:0;left:0;right:0; height:38px;z-index:8;}
.ywshow .ywshowtop .ywnav{ height:38px;}
.ywshow .ywshowtop .ywnav .ywnav_tit{ text-align:center; line-height:38px; font-size:16px;}
.ywshow .ywshowtop .ywnav .ywreturn{width:38px; height:38px; position:relative;cursor:pointer;}
.ywshow .ywshowtop .ywnav .ywreturn span{ position:absolute; top:13px; left:6px;display:block;}

.ywli{}
.ywli ul{ padding-top:10px;}
.ywli li{position:relative;background:#FFF; font-size:14px; line-height:46px; padding-left:20px; cursor:pointer; border-bottom:solid 1px #F5F5F5;}
.ywli li .ywlogout{ text-align:center; color:#FC9153;}
.ywli li .ywlirun{height:38px; position:relative;cursor:pointer; padding-right:22px;}
.ywli li .ywlirun .ywtoico{ position:absolute;top:19px;right:10px; width:8px; height:8px;border-top: 1px solid #666;border-left: 1px solid #666;transform:rotate(135deg);}


.ywppt{position:fixed;left:0;top:35%;right:0;z-index:9999;display:block; text-align:center; margin:0px 10%;}
.ywppt .ywpptlayer{position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.1);z-index:888;}
.ywppt .ywppt_txt{display:inline-block;background:rgba(0,0,0,.6); font-size:14px;line-height:25px; color:#FFF; padding:10px 16px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.ywppt .ywppt_ts{position:relative;display:inline-block; background:#FFF; padding:10px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;z-index:889;}
.ywppt .ywppt_ts .ywppt_ts_t{ font-size:18px;line-height:28px; font-weight:bold;padding:12px 20px;}
.ywppt .ywppt_cd{position:relative;z-index:889;}
.ywpptb{ top:auto; bottom:70px;}
.ywpptd{ top:auto; bottom:0; margin:0;}


