	<div class=""></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">{$site.name}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {volist name="navbarlist" id="vo"}
        {present name="vo.data"}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            {$vo.name}
          </a>
          <div class="dropdown-menu border-0">
            {volist name="vo.data" id="v2"}
            <a class="dropdown-item" href="/{$vo.type}_{$vo.nickname}">{$v2.name}</a>
            {/volist}
          </div>
        </li>
        {else /}
        <li class="nav-item">
          <a class="nav-link" href="{$vo.type}_{$vo.nickname}" title="{$vo.name}">{$vo.name}</a>
        </li>
        {/present}
        {/volist}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/temp" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="关键词" name="keywords">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
      </form>
    </div>
  </div>
</nav>  