@charset "utf-8";
/* CSS Document autofocus*/
*{ margin: 0; padding: 0; border:0; list-style:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
 input {-webkit-user-select:auto;}  
 input:focus, textarea:focus {outline: none;}
html,body{font:12px/140% "微软雅黑","宋体","Arial"; height:100%; padding:0px; margin:0px;}
html{ font-size: 10px; }
@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}}
@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}
body{color: #333;background:no-repeat center -100px #F5F5F5; margin:0px; padding:0px;}
a:link,a:visited{text-decoration:none;vertical-align:baseline;word-break:break-all;outline:none;}
a:hover,a:active{text-decoration:underline;vertical-align:baseline;word-break:break-all;}
.awr{display:block;content: '';width:12px;height:12px;border: 2px solid #999;border-top:0;border-left: 0;transform: rotate(-45deg);margin: auto;}
.awrn{display:block;content: '';width:10px;height:10px;border: 2px solid #666;border-bottom:0;border-right: 0;transform: rotate(-45deg);margin:auto;}
.ppinfo{ border:solid 1px #0C82F0;height:30px;line-height:30px; text-indent:6px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.avatar_1{background:url(img/avatar/avatar_1.jpg) no-repeat center center;}.avatar_2{background:url(img/avatar/avatar_2.jpg) no-repeat center center;}.avatar_3{background:url(img/avatar/avatar_3.jpg) no-repeat center center;}.avatar_4{background:url(img/avatar/avatar_4.jpg) no-repeat center center;}.avatar_5{background:url(img/avatar/avatar_5.jpg) no-repeat center center;}.avatar_6{background:url(img/avatar/avatar_6.jpg) no-repeat center center;}.avatar_7{background:url(img/avatar/avatar_7.jpg) no-repeat center center;}.avatar_8{background:url(img/avatar/avatar_8.jpg) no-repeat center center;}.avatar_9{background:url(img/avatar/avatar_9.jpg) no-repeat center center;}.avatar_10{background:url(img/avatar/avatar_10.jpg) no-repeat center center;}.avatar_11{background:url(img/avatar/avatar_11.jpg) no-repeat center center;}.avatar_12{background:url(img/avatar/avatar_12.jpg) no-repeat center center;}.avatar_13{background:url(img/avatar/avatar_13.jpg) no-repeat center center;}.avatar_14{background:url(img/avatar/avatar_14.jpg) no-repeat center center;}.avatar_15{background:url(img/avatar/avatar_15.jpg) no-repeat center center;}.avatar_16{background:url(img/avatar/avatar_16.jpg) no-repeat center center;}
/*clear*/
.clear0{ clear:both; line-height:0px; height:0px; overflow:hidden;}
.clear3{ clear:both; line-height:0px; height:3px; overflow:hidden;}
.clear6{ clear:both; line-height:0px; height:6px; overflow:hidden;}
.clear10{ clear:both; line-height:0px; height:10px; overflow:hidden;}
.clear20{ clear:both; line-height:0px; height:20px; overflow:hidden;}
.clear30{ clear:both; line-height:0px; height:30px; overflow:hidden;}
.clear40{ clear:both; line-height:0px; height:40px; overflow:hidden;}
.clear50{ clear:both; line-height:0px; height:50px; overflow:hidden;}
/*mofm*/
.mofm8{ padding:8px;}
.mofm10{ padding:10px;}
.mofm16{ padding:16px;}
.mofm20{ padding:20px;}
/*motb*/
.motb3{ padding:3px 0px;}
.motb8{ padding:8px 0px;}
.motb10{ padding:10px 0px;}
.motb16{ padding:16px 0px;}
.motb20{ padding:20px 0px;}
/*motb*/
.molr8{ padding:0px 8px;}
.molr10{ padding:0px 10px;}
/*mofm*/
.mobm{border-bottom:solid 1px #F7F7F7;}
/*moinfo*/
.moinfo{ text-align:center;}
.moinfo .moinfo_tit{ font-size:16px; line-height:30px; color:#000; font-weight:bold;}
.moinfo .moinfo_tit span{ color:#0C82F0;}
.moinfo .moinfo_txt{line-height:20px; color:#999;}
.moinfo .moinfo_txt span{ color:#0C82F0;}
/*moinfol*/
.moinfol{ text-align:left; position:relative;}
.moinfol .moinfol_tit{ font-size:16px; line-height:30px; color:#000; font-weight:bold;}
.moinfol .moinfol_tit span{ color:#0C82F0;}
.moinfol .moinfol_txt{line-height:20px; color:#999;}
.moinfol .moinfol_txt span{ color:#0C82F0;}
.moinfol .moclose{position:absolute; top:8px; right:10px; height:20px; font:14px/20px "Arial"; width:20px; cursor:pointer; background:#0B82F1; color:#FFF;  text-align:center;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
/*moinfo_price*/
.moinfo_price{ text-align:center;}
.moinfo_price .moinfo_price_t{line-height:26px; color:#000;}
.moinfo_price .moinfo_price_t span{font-size:26px;font-weight:bold;}
.moinfo_price .moinfo_price_n{line-height:20px; color:#666;}
.moinfo_price .moinfo_price_n span{ color:#0C82F0;font-weight:bold;}
/*mousnav*/
.mousnav{ position:relative; text-align:center;}
.mousnav .mousnavinfo{display:inline-block; text-align:center; cursor:pointer; line-height:18px;}
.mousnav .mousnavinfo .mousnavinfo_img{background-size:30px 30px;display:inline-block; text-align:center;  width:30px; height:30px; text-align:center;font:26px/28px "Arial"; font-weight:bold; color:#666;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.mousnav .mousnavinfo .mousnavinfo_b{width:20px; height:2px; line-height:0px;display:block; margin:0px auto;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.mousnav .mousnavck{ color:#0C82F0; font-weight:700;}
.mousnav .mousnavck .mousnavinfo_b{background:#0C82F0;}
.mousnav .mousnavcl{ color:#999;}

.mousnav .icono-plusCircle{ border-color:#999;}
.mousnav .icono-plusCircle:before{ color:#999;}
.mousnav .icono-plusCircle:after{ color:#999;}
/*mousbox*/
.mousbox{ position:relative;}
.mousbox .mousbox_txt{text-indent:48px; color:#000;}
.mousbox .mousbox_txt .mousbox_txt_t{ line-height:20px; font-weight:bold;}
.mousbox .mousbox_txt .mousbox_txt_s{ line-height:20px;color:#999;}
.mousbox .mousbox_txt .mousbox_txt_s span{font:12px/20px "Arial"; color:#0C82F0;}
.mousbox .mousbox_img{background-size:40px 40px; position:absolute; left:0px; top:0px;width:40px; height:40px;}
.mousbox .mousbox_tel{ position:absolute; right:10px; top:5px;height:30px;}
/*mousinfo*/
.mousinfo{height:20px;line-height:20px; color:#000;}
.mousinfo .mousinfo_img{ float:left;width:20px; height:20px;background-size:20px 20px; margin-right:6px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}

/*monabox*/
.monabox{position:relative;}
.monabox .monabox_price{position:absolute; bottom:8px; right:10px;}
/*mona*/
.mona{position:relative;line-height:20px; text-indent:10px;}
.mona .mona_mark{position:absolute; top:7px; left:0px; background:#E3E3E3;width:6px; height:6px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.mona span{ margin-left:6px;color:#999;}
.mona span.arial{font:"Arial"; margin:0;}
.mona p{padding:0; border:0; margin:0;color:#999; line-height:18px;}
.mona .mona_mark_o{background:#0C82F0;}
.mona .mona_mark_d{background:#0DCB33;}
/*monabox*/
.monbbox{position:relative; height:20px;}
.monbbox .monb{position:relative;line-height:20px; text-indent:10px; display:inline-block; float:left;}
.monbbox .monb_gl{float:left; width:22px; text-align:center; display:block;position:relative;line-height:20px;}
.monbbox .monb_gl .fjx{display:inline-block;font:14px/10px "Arial"; color:#999; font-weight:bold;width:10px;height:10px;transform: rotate(90deg);margin:auto;}
.monbbox .monb .monb_mark{position:absolute; top:7px; left:0px; background:#999;width:6px; height:6px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.monbbox .monb .monb_mark_o{background:#0C82F0;}
.monbbox .monb .monb_mark_d{background:#0DCB33;}
/*monc*/
.monc{position:relative;line-height:26px; text-indent:16px;}
.monc .monc_mark{position:absolute; top:8px; left:0px; background:#999;width:8px; height:8px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.monc .monc_tit{ font-size:14px; font-weight:700;}
.monc .monc_txt{ font-size:14px; color:#ccc;}
.monc .monc_mark_o{background:#0C82F0;}
.monc .monc_mark_d{background:#0FE139;}
.monc .monc_mark_s{background:#0FE139; border:solid 1px #0DB92F;opacity: 0.3;width:12px; top:5px; left:-3px; height:12px;-webkit-animation: loader 0.7s linear infinite alternate;animation: loader 0.7s linear infinite alternate;}
.monc .monc_mark_s:nth-child(1) {-webkit-animation-delay: -1s;animation-delay: -1s;}
/*mond*/
.mond{position:relative;line-height:26px; text-indent:22px;}
.mond .mond_mark{position:absolute; top:8px; left:3px; background:#999;width:8px; height:8px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.mond .mond_tit{ font-size:14px;}
.mond .mond_tit span{color:#ccc;}
.mond .mond_txt{ font-size:14px; color:#ccc;}
.mond .mond_mark_o{background:#0C82F0;}
.mond .mond_mark_d{background:#0FE139;}
.mond .mond_date{position:absolute; top:5px; left:0px; background:url(img/ic3.jpg) no-repeat center center #fff;width:15px; height:15px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.mond .mond_people{position:absolute; top:5px; left:0px; background:url(img/ic4.jpg) no-repeat center center #fff;width:15px; height:15px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
/*mone*/
.mone{position:relative;line-height:20px; }
.mone span{font:18px/28px "Arial";  font-weight:bold; margin:0px 6px 0px 0px; color:#0C82F0;}
.mone p{ font-weight:700;}
/*monf*/
.monf{position:relative;height:26px;line-height:26px; }
.monf span{font:14px/26px "Arial";  font-weight:bold; margin:0px 6px 0px 0px; color:#0C82F0;}
.monf .pkrof{ float:right;}
/*momatch*/
.momatch{line-height:20px;}
.momatch .momatch_n{ float:left; margin-right:3px;}
.momatch .moloader{ float:left;}
/*moprice*/
.moprice{ text-align:center;}
.moprice span{ font-size:18px; font-weight:bold; color:#000; margin-right:2px;}
.moprice p{ font-size:12px;color:#333; line-height:20px;}
/*mogl*/
.mogl{display:inline-block; width:10px;}
/*motel*/
.motel{display:inline-block;background:url(img/motel.jpg) no-repeat center center #FFF; width:28px; height:28px; text-indent:40px; overflow:hidden; line-height:30px;border:solid 1px #CCC; cursor:pointer;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
/*momessage*/
.momessage{display:inline-block;background:url(img/momessage.jpg) no-repeat center center #FFF; width:28px; height:28px; text-indent:40px; overflow:hidden; position:relative; line-height:30px;border:solid 1px #CCC; cursor:pointer;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.momessage span{ position:absolute;top:3px; right:3px; width:10px; height:10px; background:#F00;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;-webkit-border-bottom-left-radius:10px;-moz-border-bottom-left-radius:10px;border-bottom-left-radius:10px;}
/*mobut*/
.moloader {display: inline-block;font-size: 0px;padding: 0px;}
.moloader span {vertical-align: middle;border-radius: 100%;display: inline-block;width: 5px;height: 5px;margin: 0 1px;-webkit-animation: loader 0.8s linear infinite alternate;animation: loader 0.8s linear infinite alternate;}
.moloader span:nth-child(1) {-webkit-animation-delay: -1s;animation-delay: -1s;background: rgba(0, 0, 0,0.6);}
.moloader span:nth-child(2) {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background: rgba(0, 0, 0,0.8);}
.moloader span:nth-child(3) {-webkit-animation-delay: -0.26666s;animation-delay: -0.26666s;background: rgba(0, 0, 0,1);}
.moloader span:nth-child(4) {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background: rgba(0, 0, 0,0.8);}
.moloader span:nth-child(5) {-webkit-animation-delay: -1s;animation-delay: -1s;background: rgba(0, 0, 0,0.4);}
@keyframes loader { from {transform: scale(0, 0);}to {transform: scale(1, 1);}}@-webkit-keyframes loader { from {-webkit-transform: scale(0, 0);}to {-webkit-transform: scale(1, 1);}}
/*pk*/
/*pkro*/
.pkroa{ cursor:pointer; height:40px; line-height:40px; text-align:center; font-size:14px; font-weight:600;color:#999; border:solid 1px #E3E3E3; background:#FFF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pkrob{cursor:pointer; height:80px; line-height:80px; text-align:center; font-size:14px; font-weight:600;color:#999; border:solid 1px #E3E3E3; background:#FFF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pkrob span{font:30px/80px "Arial"; }
.pkroc{cursor:pointer;line-height:20px;text-align:left;padding:16px;color:#999; border:solid 1px #E3E3E3; background:#FFF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pkroc .pkroc_tit{ font-size:14px; line-height:30px;font-weight:600;}
.pkrod{background:#FFF; height:20px; display:block; line-height:20px; text-align:center; color:#000; border:solid 1px #CCC; cursor:pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pkrod:link,.pkrod:visited{text-decoration:none;vertical-align:baseline;word-break:break-all;outline:none;}
.pkrod:hover,.pkrod:active{text-decoration:none;vertical-align:baseline;word-break:break-all;}
.pkroe{background:#F7F7F7; height:20px; display:inline-block; padding:0px 6px; margin:10px 10px 0px 0px; line-height:20px; text-align:center; color:#666; border:solid 1px #F7F7F7; cursor:pointer;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pkrof{background:#FFF; height:26px;line-height:26px; display:inline-block; padding:0px 6px; margin:0; text-align:center; color:#0C82F0; border:solid 1px #0C82F0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pkrog{ cursor:pointer; height:30px; line-height:30px; text-align:center; font-size:14px; font-weight:600;color:#999; border:solid 1px #E3E3E3; background:#FFF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.pkrosd{color:#0C82F0; border:solid 1px #0C82F0; background:#E6F2FD;}
.pkrono{color:#999; border:solid 1px #F7F7F7; background:#F7F7F7;}
.pkrosl{color:#FFF; border:solid 1px #0C82F0; background:#0C82F0;}
/*pkbut*/
.pkbut{background:#CCCCCC; height:50px; line-height:50px; text-align:center; color:#FFF; font-size:18px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.pkbutsd{background:#0B82F1;color:#FFF;cursor:pointer;}
/*fm*/
/*fmbox*/
.fmbox{background:#FFF;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-box-shadow:2px 2px 5px #F0F0F0; -webkit-box-shadow:2px 2px 5px #F0F0F0; box-shadow:2px 2px 5px #F0F0F0;}
.fmbox .fmbox_tit{ color:#1B1B1B; line-height:26px; height:26px; font-size:16px; font-weight:bold;}
.fmbox .fmbox_txt{padding:8px 6px; cursor:pointer;}
.fmbox .fmbox_inp{padding:8px 6px;}
/*fmhuibox*/
.fmhuibox{background:#FAFAFA;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
/*fmlr*/
.fmlr{ position:relative;}
.fmlr .fmlr_l{}
.fmlr .fmlr_r{ position:absolute; right:0; top:0;}
.fmlr .stpe{ width:50%; text-align:center;}
.fmlr .stpe span{ font-size:16px; line-height:25px; font-weight:bold;}
.fmlr .stpe p{ line-height:20px;}

/*fmwait*/
.fmwait{position:relative;cursor:pointer; background:#F4F9FF; padding:8px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.fmwait .fmwait_inor{ position:absolute; right:20px; top:18px;}

.fmwait .fmwait_top{ height:20px; padding:6px 0px;}
.fmwait .fmwait_status{ float:left; background:#98BCEF; background:#98BCEF; height:20px; line-height:20px; float:left; color:#FFF; padding:0px 6px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.fmwait .fmwait_date{ height:20px; line-height:20px; float:left; color:#666666;font-weight:bold;  padding:0px 6px;}
.fmwait .fmwait_date b{font:12px/140% "Arial"; margin:0px 6px;font-weight:bold;color:#666666;}
.fmwait .fmwait_cont{padding:8px 0px; background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.fmwait .fmwait_stroke{position:relative;cursor:pointer;}
.fmwait .fmwait_stroke.del{ color:#CCC;}
.fmwait .fmwait_stroke_img{position:absolute;left:3px;top:3px;width:30px; border-right:solid 1px #F7F7F7; padding:0px 8px; line-height:24px; text-align:center;}
.fmwait .fmwait_stroke_del{position:absolute; right:8px;top:3px;width:60px;padding:0px 8px; line-height:54px; text-align:center; font-size:16px;}
.fmwait .fmwait_stroke_txt{ padding:0px 0px 0px 60px;}
/*fmint*/
.fmint{}
.fmint table{}
.fmint table th{ border-bottom:solid 1px #F0F0F0; text-align:right; }
.fmint table th span{ text-align:right;font-weight:normal; font-size:14px;border-right:solid 1px #F0F0F0; display:inline-block; padding-right:8px;}
.fmint table td{ border-bottom:solid 1px #F0F0F0;}
.fmint table td input{ background:#fff;width:100%;height:40px;line-height:40px;text-indent:8px; font-size:14px;}
.fmint table td textarea{ background:#fff;width:100%;height:100px;line-height:20px;text-indent:8px; font-size:14px;}
.fmint table td p{ background:#fff;width:100%;height:40px; line-height:40px;text-indent:8px; font-size:14px;}

/*myuserbox*/
.myuserbox{ position:relative;width:100%;}
.myuserbox .myuserbox_txt{text-indent:66px; color:#000; padding:8px;}
.myuserbox .myuserbox_txt .myuserbox_txt_t{ line-height:25px; font-weight:bold; font-size:14px;}
.myuserbox .myuserbox_txt .myuserbox_txt_s{ line-height:25px;font-size:14px; color:#999;}
.myuserbox .myuserbox_img{ position:absolute; left:8px; top:8px;width:50px; height:50px;}
.myuserbox .myuserbox_inor{ position:absolute; right:20px; top:18px; display:none;}
/*myuserbox myuserbox_ad*/
.myuserbox .myuserbox_ad{ position:absolute; right:0px; top:0px; width:50px;}
.myuserbox .myuserbox_ne{ position:absolute; left:0px; top:50px; width:68px;}
.myuserbox .myuserbox_ne .pkrog{ line-height:18px; height:18px;}


/*pp*/
/*ppfdtop*/
.ppfdtop{width:100%;display:block;position:fixed; background:#FFF;z-index:6;-webkit-transition:all .4s;transition:all .4s; top:0;left:0;}
.ppfdtop .ppfdtop_tit{position:relative; color:#333333; background:#FFF;text-align:center;line-height:40px;font-weight:bold; font-size:14px;}
.ppfdtop .ppfdtop_tit .tit_close{ position:absolute; top:7px; left:2px; width:30px;text-align:center;line-height:26px; padding-top:8px; cursor:pointer;}
.ppfdtop .ppfdtop_tit .tit_r{ position:absolute; top:0px; right:0px; width:60px; height:40px;line-height:40px;text-align:center;color:#666; font-size:12px;}
.ppfdtop .ppfdtop_tit .mousnav{ padding:8px 50px 0px 50px; font-size:12px; font-weight:normal;}
/*ppfdtop_coordinate*/
.ppfdtop_coordinate{background:#FFF;position:relative;}
.ppfdtop_coordinate .ppfdtop_coordinate_t{ padding:10px 80px 10px 10px;}
.ppfdtop_coordinate .ppfdtop_coordinate_r{position:absolute; right:20px; top:15px;}
.fbhq_spoi{height:30px;position:relative;}
.fbhq_spoi .fbhq_spoi_tit{ position:absolute; left:8px; top:5px; padding-right:10px;height:20px; line-height:20px; border-right:solid 1px #DCDCDC;}
.fbhq_spoi input{ background:#F5F5F5;text-indent:70px; width:100%;height:30px; line-height:30px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
/*ppfdbottom*/
.ppfdbottom{width:100%;display:block;position:fixed; background:#FFF;z-index:6;-webkit-transition:all .4s;transition:all .4s; bottom:0;left:0;-webkit-border-top-left-radius:15px;-moz-border-top-left-radius:15px;border-top-left-radius:15px;-webkit-border-top-right-radius:15px;-moz-border-top-right-radius:15px;border-top-right-radius:15px;}
.ppfdbm{width:100%;display:block;position:fixed; z-index:6;-webkit-transition:all .4s;transition:all .4s; bottom:0;left:0;}
.popby_nav{background:rgba(250,250,250,.95); border-top:solid 1px #F7F7F7;text-align:center;-moz-box-shadow: inset 0 0 5px #F7F7F7;    -webkit-box-shadow: inset 0 0 5px #F7F7F7;box-shadow: inset 0 0 5px #F7F7F7;}
.bynav{color:#666;line-height:16px; font-size:12px; cursor:pointer; padding:2px 0px;}
.popby_nav .icono-flag{ border-color:#666; transform:scale(0.6);}
.popby_nav .icono-flag:before{ border-color:#666;}
.popby_nav .icono-flag:after{ border-color:#666;}
.popby_nav .icono-document{ border-color:#666;transform:scale(0.6);}
.popby_nav .icono-document:before{ border-color:#666;}
.popby_nav .icono-document:after{ border-color:#666;color:#666;}
.popby_nav .icono-commentEmpty{ color:#666;transform:scale(0.6);}
.popby_nav .icono-user{ border-color:#666;transform:scale(0.6);}
.popby_nav .icono-user:before{ border-color:#666;}

.bynavck{ color:#0C82F0;}
.bynavck .icono-flag{ border-color:#0C82F0; }
.bynavck .icono-flag:before{ border-color:#0C82F0; background:#0C82F0;}
.bynavck .icono-flag:after{ border-color:#0C82F0; background:#0C82F0;}
.bynavck .icono-document{ border-color:#0C82F0;background:#0C82F0; }
.bynavck .icono-document:before{ border-color:#0C82F0;}
.bynavck .icono-document:after{ border-color:#FFF;color:#FFF;}
.bynavck .icono-commentEmpty{ color:#0C82F0; background:#0C82F0;}
.bynavck .icono-user{ border-color:#0C82F0; background:#0C82F0;}
.bynavck .icono-user:before{ border-color:#0C82F0; background:#0C82F0;}

/*ppfdbox*/
.ppfdbox{}
.ppfdbox .grayLayer{position:fixed;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.1);z-index:20;display:block;}
.ppfdbox .ppfdbottom{z-index:21;}
/*pploginbox*/
.pplogin{position:fixed;top:0;left:0;bottom:0;right:0;background:#FFF;z-index:666;display:block;}
.pplogin .pplogin_box{ padding:100px 20px 50px 20px;}
/*moprompt*/
.moprompt{position:fixed;top:0;left:0;bottom:0;right:0;z-index:888;display:block;}
.moprompt .grayLayer{position:fixed;top:0;left:0;bottom:0;right:0;background:#eee;background:rgba(0,0,0,.7);z-index:888;display:block}
.moprompt .moprompt_cont{text-align:center; width:200px; margin:150px auto 0px auto;}
.mologinbox{position:relative;z-index:0;opacity:0;visibility:hidden;-webkit-transition:opacity .4s,z-index .4s;transition:opacity .4s,z-index .4s;opacity:1;z-index:92;visibility:visible;}
.mologinbox .mologinbox_pro{width:100%;display:block;position:fixed;z-index:99;color:#000;-webkit-transition:all .4s;transition:all .4s;top:0;left:0; bottom:0;background:#fff;}
.mologinbox .mologinbox_pro_cont{ display:block;color:#000; padding:20% 5%;}
.moprobox{position:relative;z-index:0;opacity:0;visibility:hidden;-webkit-transition:opacity .4s,z-index .4s;transition:opacity .4s,z-index .4s;opacity:1;z-index:92;visibility:visible;}
.moprobox .grayLayer{position:fixed;top:0;left:0;bottom:0;right:0;background:#eee;background:rgba(0,0,0,.7);z-index:90;display:block}
.moprobox .moprompt_pro{width:90%;display:block;position:fixed;z-index:99;color:#000;-webkit-transition:all .4s;transition:all .4s;top:20%;left:5%;background:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.moprompt .moprompt_pro{text-align:center; width:90%; margin:150px auto 0px auto;}
.moprompt .moprompt_pro_cont{ display:block;background:#FFF; color:#000; padding:20px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}

.moprobox .moprompt_pro .moprobox_pr{ position:relative;}
.moprobox .moprompt_pro .moprobox_prtit{text-align:center; font-size:18px; color:#FFF; line-height:30px;}
.moprobox .moprompt_pro .moprobox_prtit span{font:25px/30px "Arial";color:#FC0; font-weight:bold; margin:0px 3px;}
.moprobox .moprompt_pro .moprobox_primg img{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}


.mtyuload{ display:inline-block;padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.mtyuloadby{background:rgba(0,0,0,.5);color:#FFF; }
.mtyuload .mtyuload_txt{ height:30px; line-height:30px; font-size:16px; width:100px;}
.mtyuload .mtyuloadlr {display: inline-block;font-size: 0px;padding: 0px; height:50px; width:50px; position:relative; }
.mtyuload .mtyuloadlr span { position:absolute;vertical-align: middle;border-radius: 100%;display: inline-block;width: 10px;height: 10px;margin: 0 1px;-webkit-animation: loader 0.8s linear infinite alternate;animation: loader 0.8s linear infinite alternate;}
.mtyuload .mtyuloadlr span:nth-child(1) { top:20px; left:0px;-webkit-animation-delay: -0.1s;animation-delay: -0.1s;background: rgba(255, 255, 255,0.8);}
.mtyuload .mtyuloadlr span:nth-child(2) { top:5px; left:5px;-webkit-animation-delay: -0.2s;animation-delay: -0.2s;background: rgba(255, 255, 255,0.8);}
.mtyuload .mtyuloadlr span:nth-child(3) { top:0px; left:20px;-webkit-animation-delay: -0.3s;animation-delay: -0.3s;background: rgba(255, 255, 255,0.8);}
.mtyuload .mtyuloadlr span:nth-child(4) { top:5px; left:35px;-webkit-animation-delay: -0.4s;animation-delay: -0.4s;background: rgba(255, 255, 255,0.8);}
.mtyuload .mtyuloadlr span:nth-child(5) { top:20px; left:40px;-webkit-animation-delay: -0.5s;animation-delay: -0.5s;background: rgba(255, 255, 255,0.8);}
.mtyuload .mtyuloadlr span:nth-child(6) { top:35px; left:35px;-webkit-animation-delay: -0.6s;animation-delay: -0.6s;background: rgba(255, 255, 255,0.8);}
.mtyuload .mtyuloadlr span:nth-child(7) { top:40px; left:20px;-webkit-animation-delay: -0.7s;animation-delay: -0.7s;background: rgba(255, 255, 255,0.8);}
.mtyuload .mtyuloadlr span:nth-child(8) { top:35px; left:8px;-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background: rgba(255, 255, 255,0.8);}

.mtmessage{ display:inline-block;background:rgba(0,0,0,.5); color:#FFF; padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.mtmessage .mtmessage_txt{line-height:20px; font-size:16px;padding:5px 0px;}
.mtmessage .mtmessage_img {background:rgba(0,0,0,.3); color:#FFF; font-size:50px; font-weight:bold;display: inline-block;padding: 0px; height:50px; line-height:50px; width:50px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px; display:none;}



.fbhq_sjbx{ background:#fff; height:40px;position:relative; border-bottom:solid 1px #EEEEEE; }
.fbhq_sjbx .fbhq_sjbx_tit{ position:absolute; left:8px; top:5px; padding-right:10px;height:30px;border-right:solid 1px #DCDCDC;font:18px/30px "Arial";}
.fbhq_sjbx input{ background:#fff;text-indent:70px; width:100%;height:40px;font-weight:bold;font:18px/40px "Arial";}
.fbhq_sjbx_vcode{ text-align:center;}
.fbhq_sjbx_vcode .vcodebox{ display:inline-block; width:200px;}
.fbhq_sjbx_vcode .vcodebox .vcodeboxp{ line-height:0px; height:2px;}
.fbhq_sjbx_vcode .vcodebox .vcodeboxp span{margin:0; padding:0; border:0;width:20%;margin-right:5%;border-bottom:solid 2px #999; display:block; float:left; }
.fbhq_sjbx_vcode input{ background:#fff;text-align:left;text-indent:10px;letter-spacing:40px;width:100%;height:40px;font-weight:bold;font:20px/40px "Arial";}

.fbhq_spoi_cont{padding:0px 16px;background:#FFF;}
.fbhq_spoi_cont li{ border-bottom:solid 1px #EEEEEE; padding:20px 0px 20px 50px;background:url(img/ic5.jpg) no-repeat 8px 23px;cursor:pointer;}
.fbhq_spoi_cont .lxbox_name{ color:#333333; line-height:20px; position:relative;}
.fbhq_spoi_cont .lxbox_add{ color:#999999; line-height:20px;}
.fbhq_spoi_cont .lxbox_name_km{ color:#999999; line-height:20px; position:absolute; right:0; top:0;}


.release_oid,.release_did,.release_date,.release_people{height:26px;}
.popby_index{background:url(img/popbox_indexby.jpg) repeat-x top;}

.myprompt{}
.myprompt span{ float:right; color:#999;}



.monodata{ text-align:center;}
.monodata .monodata_img{ height:212px; background:url(img/monodata_img.jpg) no-repeat center 100px;}
.monodata .monodata_name{ font-size:14px; height:30px; line-height:30px;color:#CDCDCD;}
.monoddd{ text-align:center; font-size:16px; color:#CDCDCD; padding:30px 0px;}

#wrapper .pullDown{text-align:center;}
#wrapper .wrtop{ position:relative;width:160px; display:inline-block;}
#wrapper .wrtop .wrtopl{ position:absolute; top:8px; left:0px;}
#wrapper .wrtop .wrtoptxt{ padding:0px 0px 0px 26px; text-align:center;}
#wrapper .wrtop .wrtoptxt  .wrtopt{ font-size:14px; line-height:25px;color:#333;}
#wrapper .wrtop .wrtoptxt  .wrtopn{ line-height:20px; color:#666;}
#wrapper .wrtop .wrtopl .arr{width: 26px;height: 26px;position: relative;display: inline-block;}
#wrapper .wrtop .wrtopl .arr:before,.wrtop .wrtopl .arr:after {content: '';border-color: transparent;border-style: solid;position: absolute;}
#wrapper .wrtop .wrtopl .icono-sync{ color:#666;}

#wrapper .wrtop .wrtopl .arr_0:before {border: none;background-color: #666;height:18px;width:3px;top:3px;left:13px;}
#wrapper .wrtop .wrtopl .arr_0:after {left: 6px;top:3px;width: 14px;height: 14px;border:3px solid #666;border-bottom: 0;border-left: 0;transform: rotate(-45deg);}
#wrapper .wrtop .wrtopl .arr_1:before {border: none;background-color: #666;height:18px;width:3px;top:2px;left:13px;}
#wrapper .wrtop .wrtopl .arr_1:after {left: 6px;top:4px;width: 14px;height: 14px;border:3px solid #666;border-top: 0;border-right: 0;transform: rotate(-45deg);}

#wrapper {position: absolute;z-index: 1;height: 100%;width: 100%;}.scroller {position: absolute;z-index: 1;-webkit-tap-highlight-color: rgba(0,0,0,0);width: 100%;padding: 0;}.scroller ul {list-style: none;padding:0px 16px;text-align: left;}
.pullUp {text-align: center;height: 48px;line-height: 20px;font-size: 12px;color: #888; display:block;}.loader {display: inline-block;font-size: 0px;padding: 0px;display: none;}.loader span {vertical-align: middle;border-radius: 100%;display: inline-block;width: 10px;height: 10px;margin: 0 2px;-webkit-animation: loader 0.8s linear infinite alternate;animation: loader 0.8s linear infinite alternate;}.loader span:nth-child(1) {-webkit-animation-delay: -1s;animation-delay: -1s;background: rgba(245, 103, 115,0.6);}.loader span:nth-child(2) {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background: rgba(245, 103, 115,0.8);}.loader span:nth-child(3) {-webkit-animation-delay: -0.26666s;animation-delay: -0.26666s;background: rgba(245, 103, 115,1);}.loader span:nth-child(4) {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background: rgba(245, 103, 115,0.8);}.loader span:nth-child(5) {-webkit-animation-delay: -1s;animation-delay: -1s;background: rgba(245, 103, 115,0.4);} @keyframes loader { from {transform: scale(0, 0);}to {transform: scale(1, 1);}}@-webkit-keyframes loader { from {-webkit-transform: scale(0, 0);}to {-webkit-transform: scale(1, 1);}}

.loading-warp{ display: table; width: 100%; margin-top: -5.8rem; }
.loading-warp .box{ width: 100%; padding-top: 1rem; padding-bottom: 1rem;
 display: table-cell; text-align: center; vertical-align: middle; }
.loading-warp .box img{ display: block; width: 2rem; height: 2rem; margin: 0 auto; }
.loading-warp .box .text{ display: block; text-align: center; font-size: 0.5rem; 
	line-height: 0.5rem; opacity: 0.7; margin-top: 1.4rem; }


.avatar{width:50px; height:50px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.usermbox{ position:relative;height:30px; line-height:30px;text-indent:39px;font-weight:bold; color:#292D39;}
.usermbox .usermbox_img{position:absolute;left:0px;top:0px;width:30px; height:30px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}
.avatars{width:30px; height:30px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}

.mswitch{ width:38px; height:22px; cursor:pointer;}
.mswitchbox{position:relative; padding:3px 0px;}
.mswitchbox .mswitchbox_j{position:absolute; top:0px; left:0px;width:20px; height:20px;background:#ccc;-webkit-border-radius:50px;box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);border-radius: 25px;transition: left 0.25s, background 0.25s;z-index: 3;}
.mswitchbox .mswitchbox_b{ height:16px; line-height:16px;background:#ccc;border-radius: 25px;transition: left 0.25s, background 0.25s;}
.mswitch .off .mswitchbox_j{background:#036BCF; left:auto; right:0px;}.mswitch .off .mswitchbox_b{background:#036BCF;}


.mobileSelect{position:relative;z-index:0;opacity:0;visibility:hidden;-webkit-transition:opacity .4s,z-index .4s;transition:opacity .4s,z-index .4s}
.mobileSelect .grayLayer{position:fixed;top:0;left:0;bottom:0;right:0;background:#eee;background:rgba(0,0,0,.1);z-index:20;display:block}
.mobileSelect .content{padding:10px 16px 0px 16px;display:block;position:fixed;left:0;bottom:0;right:0;z-index:21;color:#000;-webkit-transition:all .4s;transition:all .4s;bottom:-350px;left:0;background:#fff;-webkit-border-top-left-radius:15px;-moz-border-top-left-radius:15px;border-top-left-radius:15px;-webkit-border-top-right-radius:15px;-moz-border-top-right-radius:15px;border-top-right-radius:15px;}
.mobileSelect .content .fixWidth{ margin:0 auto;position:relative;}
.mobileSelect .content .fixWidth:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.mobileSelect .content .btnBar{font-size:15px;height:45px;position:relative;text-align:center;line-height:45px}
.mobileSelect .content .btnBar .cancel,.mobileSelect .content .btnBar .ensure{height:45px;width:55px;cursor:pointer;position:absolute;top:0}
.mobileSelect .content .btnBar .cancel{right:0;position:absolute; top:20px; right:16px; height:20px; font:14px/20px "Arial"; width:20px; cursor:pointer; background:#0B82F1; color:#FFF;  text-align:center;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;}

.mobileSelect .content .btnBar .ensure{right:0;color:#1e83d3}
.mobileSelect .content .btnBar .title{font-size:16px;padding:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; text-align:left; font-weight:bold;}
.mobileSelect .content .panel:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.mobileSelect .content .panel .wheels{width:100%;height:200px;overflow:hidden}
.mobileSelect .content .panel .wheel{position:relative;z-index:0;float:left;width:50%;height:200px;overflow:hidden;-webkit-transition:width .3s ease;transition:width .3s ease}
.mobileSelect .content .panel .wheel .selectContainer{display:block;text-align:center;-webkit-transition:-webkit-transform .18s ease-out;transition:-webkit-transform .18s ease-out;transition:transform .18s ease-out;transition:transform .18s ease-out,-webkit-transform .18s ease-out}
.mobileSelect .content .panel .wheel .selectContainer li{font-size:15px;display:block;height:40px;line-height:40px;cursor:pointer;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.mobileSelect .content .panel .selectLine{height:40px;width:100%;position:absolute;top:80px;pointer-events:none;-webkit-box-sizing:border-box;box-sizing:border-box;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc}
.mobileSelect .content .panel .shadowMask{position:absolute;top:0;width:100%;height:200px;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),color-stop(rgba(255,255,255,0)),to(#ffffff));background:-webkit-linear-gradient(top,#ffffff,rgba(255,255,255,0),#ffffff);background:linear-gradient(to bottom,#ffffff,rgba(255,255,255,0),#ffffff);opacity:.9;pointer-events:none}
.mobileSelect-show{opacity:1;z-index:30;visibility:visible}
.mobileSelect-show .content{bottom:0}

.probox_closebox{ position:relative; height:25px;}
.probox_closebox .probox_close{position:absolute; top:8px; right:10px; height:20px; font:14px/20px "Arial"; width:20px; background:#0B82F1; color:#FFF;  text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.mrproimg{ text-align:center; padding:10px; height:100px; background:url(img/proboximg.jpg) no-repeat center center;}

/*list_page 分页*/
.list_page {height:23px;clear:both; text-align:right; padding:10px 10px; position:relative;}
.list_page a,.list_page span{display:inline-block; height:20px; line-height:20px; padding:2px 6px 1px 6px; color:#717171;margin:0px 3px;}
.list_page a{border:solid 1px #DEDEDE; background:#FFF;}
.list_page span{border:solid 1px #E8E8E8; color:#BEBEBE; }
.list_page span.pok{ background:#FF8A00; border:solid 1px #FF8A00; color:#FFF;}

.ectab{ clear:both; line-height:30px;}
.ectab .no_data{ font-size:18px; line-height:50px; text-align:center; color:#999;}
.ectab table{background:#F0F0F0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.ectab table th{background:#FFF;padding:6px; height:28px; text-align:center;}
.ectab table th .order{ cursor:pointer;}
.ectab table th .order em{display:inline-block;width:16px; height:8px; margin-left:3px;}
.ectab table th .order.desc em{background:url(/skin/images/jpg/orr.jpg) no-repeat 0px -9px; }
.ectab table th .order.asc  em{background:url(/skin/images/jpg/orr.jpg) no-repeat; }

.ectab table th.set{ width:100px;}
.ectab table th.idsall{width:80px; text-align:left;}
.ectab table th.order{width:80px;}
.ectab table td{padding:6px; text-align:center;}
.ectab table td p{padding:0px; border:0px; margin:0px;}
.ectab table tr{ background:#FFF;}
.ectab table tr.tr2{background:#F7F7F7;}
.ectab table tr:hover{ background:#F0F9E3;}
.ectab table td .view-prompt{position:relative; cursor:pointer; }
.ectab table td .view-prompt .td-prompt{ position:absolute;display:none; padding:30px; top:0px; right:0px; z-index:99999;}
.ectab table td .view-prompt:hover .td-prompt{display:block;}
.ectab table td input.text{width:120px;border:1px solid #dcdcdc;font-size:12px;color:#494949;padding:5px 4px;box-shadow:0 1px 1px rgba(0,0,0,.1) inset;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.ectab table td input.text:focus{padding:4px 3px;border:2px solid #FFA800;outline:0}
.ectab table td input.text.order{width:30px; text-align:center;}
/*ecadlt*/
.ecadlt{ line-height:25px; border-bottom:solid 1px #CCC;}
.ecadlt .ecadlt_fr{float:right;}
.ecadlt .ecadlt_li2{color:#999;}

.mtbox{}

.mtbox_tab{overflow-y:auto;}
.mtbox .table{border-bottom:solid 2px #008C46;}
.mtbox_tit{ background:#008C46; color:#FFF; text-align:center; line-height:38px; font-size:16px; font-weight:bold;}
.mtbox_tit a{ color:#FFF;}
.mwbox{}


.wbbox{position:relative;border-left:solid 2px #008C46;width:220px; text-align:left;}
.mwbox{padding:10px; padding-bottom:0;text-align:right;display:inline-block;width:220px; }
.mwimg{background:url(img/mwimg.jpg) no-repeat center right; padding-right:30px;}

.mnbox{position:relative;width:160px; display:inline-block;}
.mnbox_cz{ width:20px;background:#F60; color:#FFF;text-align:center;font-size:13px; line-height:18px;}
/*.mnbox_ez{writing-mode: tb-rl; background:#00EC76; color:#FFF;text-align:center;}
*/
.mnbox_ez{background:#00EC76;color:#FFF;text-align:center;width:18px;line-height:18px;}
.mnbox_info{ background:#DFDFD0;}
.mnbox_mz{ font-size:18px; text-align:center; line-height:36px; height:36px;background:#DDFFEE; font-weight:bold; color:#000;} 
.mnbox_mz a{ font-size:18px; text-align:center; line-height:36px; font-weight:bold; color:#000;} 
.mnbox_bz{font:8px/16px "微软雅黑";background:#DFDFD0; color:#666; text-align:left; padding:0px 6px; line-height:20px;}

.ms{ text-align:center;}
.ms .ms_name{ text-align:center; font-size:16px; background:#DFFFEF; line-height:30px;}

/*pulist*/
.pulist{ padding:20px;}
.pulist td{ border-bottom:solid 1px #008C46; line-height:20px;}
.pulist td.sp{ width:20px; text-align:center; background:#008C46; color:#FFF;}
.pulist td.fq{ width:20px; text-align:center;background:#00EC76; color:#FFF;}
.pulist td.my{width:80px;text-indent:10px;white-space:nowrap;}
.pulist td.my .name{ font-size:14px; font-weight:bold;}
.pulist td.qz{width:80px;text-indent:10px;}
.pulist td.txt{text-indent:10px;}


